{
    "extends": [
        "standard"
    ],
    "plugins": [
        "simple-import-sort",
        "import"
    ],
    "root": true,
    "rules": {
        "indent": [
            "error",
            4,
            {
                "ArrayExpression": 1,
                "CallExpression": {
                    "arguments": 1
                },
                "FunctionDeclaration": {
                    "body": 1,
                    "parameters": 1
                },
                "FunctionExpression": {
                    "body": 1,
                    "parameters": 1
                },
                "ImportDeclaration": 1,
                "MemberExpression": 1,
                "ObjectExpression": 1,
                "SwitchCase": 1,
                "VariableDeclarator": 1,
                "flatTernaryExpressions": false,
                "ignoreComments": false,
                "ignoredNodes": [
                    "TemplateLiteral *",
                    "JSXElement",
                    "JSXElement > *",
                    "JSXAttribute",
                    "JSXIdentifier",
                    "JSXNamespacedName",
                    "JSXMemberExpression",
                    "JSXSpreadAttribute",
                    "JSXExpressionContainer",
                    "JSXOpeningElement",
                    "JSXClosingElement",
                    "JSXFragment",
                    "JSXOpeningFragment",
                    "JSXClosingFragment",
                    "JSXText",
                    "JSXEmptyExpression",
                    "JSXSpreadChild"
                ],
                "offsetTernaryExpressions": true,
                "outerIIFEBody": 1
            }
        ],
        "no-unused-vars": "warn",
        "semi": [
            "error",
            "always"
        ],
        "simple-import-sort/imports": "error",
        "simple-import-sort/exports": "error",
        "import/first": "error",
        "import/newline-after-import": "error",
        "import/no-duplicates": "error",
        "space-before-function-paren": [
            "error",
            "never"
        ]
    }
}